<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<!-- configfailurepolicy=continue: keep going if a @Before* config method fails (does not change dependsOnMethods skip-on-failure). -->
<!-- verbose=2: log every test start/finish in Maven output (GitHub Actions console). -->
<suite name="Suite" verbose="2" parallel="none" thread-count="1" preserve-order="true" configfailurepolicy="continue">
  <listeners>
    <listener class-name="Tests.AppiumSuiteListener"/>
  </listeners>
  <!-- Real-device E2E: Tests (login + job board) then OPC. Other test classes stay out of this suite unless priorities/groups are refactored. -->
  <test name="TestRun">
    <classes>
        <class name="Tests.Tests"/>
      <class name="Tests.OPC"/>
    </classes>
  </test>
</suite>
